
.p5Canvas {
    overflow: hidden;
    margin: auto;

}

.videoContainer {
    align-items: center;
    margin: auto;
}

main {
    text-align: center;
}

img {
    height: 100%;
}

video {
    height: 100%;
    align-items: center;
    text-align: center;
    object-fit: cover;
}

html {
overflow: hidden;
}

body {
    margin: 0;
}
